header{
  width: 100%;
  background-color:$header-bg;
}

/*-- header top navigation --*/ 
.top-nav{
  min-height: 60px;
  background-color: #000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 71px;

  &__list{
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
  }

  &__icon{
    color:$link-color;
  }

  &__link{
    font-size: 18px;
    margin: 0 25px;
    color:$link-color;
    
    &:hover{
      text-decoration: none;
      color:$hover-link;
    }

    &:focus{
      outline: none;
      text-decoration: none;
      color:$hover-link;
    }

    &:active{
      color:#797979;
    }

    &::after{
      content:'|';
      padding-left: 25px;
      color:#464646;
    }
    
    &_email{
      border-right: none;
      margin-right: 0;
      padding-right: 0;

      &::after{
        content:'';
      }
    }
  }

  &__social-icon{
    font-size: 18px;
    color:$link-color;
    margin-left: 15px;
    padding: 15px 5px;

    &:hover{
      text-decoration: none;
      color:$hover-link;
    }

    &:focus{
      outline: none;
      text-decoration: none;
      color:$hover-link;
    }
  }
}
/*-- end header top navigation --*/ 

/*-- header bottom navigation --*/ 
.bottom-nav{
  display: flex;
  min-height: 100px;
  justify-content: space-between;
  align-items:center;
  padding: 0 71px;

  .logo{
    font-size: 30px;
    text-transform: uppercase;
    margin-bottom: 10px;
    
    span{
      font-weight: 700;
      color:$hover-link;
    }
  }

  nav{
    flex-grow: 1;
    text-align: center;
    display: flex;
    justify-content: center;
     
  }

  &__link{
    font-size: 18px;
    line-height: 14px;
    text-transform: uppercase;
    font-family: 'Poppins', sans-serif;
    padding: 10px 33px;
    color:#000;

    &:hover{
      text-decoration: none;
      color:$hover-link;
    }
  }
  
 
  .right-navbar{
    align-items: center;
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;

    &__item{
      cursor: pointer;
      margin-left: 10px;
      :hover{
        color:$hover-link;
      }

      i{
        font-size: 18px;
        padding: 10px 5px 10px 10px;
      }
      
    }
  }
}


/*-- end header bottom navigation --*/ 


